# Import Libraries

In [2]:
# Step 1: Import libraries
import pandas as pd
import os

In [3]:
# Step 2: Define the file path and type
# 🔧 Customize this path to point to your local file
file_path = r"C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.1 Raw Data\CarSales.csv" 

# Instruct python to display all columns of the dataframe for inspection
pd.set_option('display.max_columns', None)

# Load dataframe
df = pd.read_csv(file_path)

# delete every 3 rows
# df = df.iloc[::3]

#Replace values inside a column in the table
#df['Interior'] = df['Interior'].replace({
#'—': 'Off-Black',
#})

#Replace column name 
#df.rename(columns={'make': 'Make'}, inplace=True)
#df.rename(columns={'model': 'Model'}, inplace=True)
#df.rename(columns={'trim': 'Trim'}, inplace=True)
#df.rename(columns={'body': 'Body'}, inplace=True)

#Replace Empty Values
#df['VIN'] = df['VIN'].replace('', pd.NA).fillna('4y1452hygd2re')

# Save the result
#df.to_csv('CarSales.csv', index=False)

# Display dataframe
df.head()

,Year,Make,Model,Trim,Body,Transmission,VIN,State,Condition,Odometer,Color,Interior,Seller,MMR,Selling Price,Sale Date
0,2015,Kia,Sorento,LX,SUV,Automatic,5xyktca69fg566472,ca,5.0,16639.0,White,Black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Volvo,S60,T5,Sedan,Automatic,yv1612tb4f1310987,ca,41.0,14282.0,White,Black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
2,2014,Bmw,M5,Base,Sedan,Automatic,wbsfv9c51ed593089,ca,34.0,14943.0,Black,Black,the hertz corporation,69000.0,65000.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
3,2014,Chevrolet,Camaro,LT,Convertible,Automatic,2g1fb3d37e9218789,ca,3.0,4809.0,Red,Black,d/m auto sales inc,26300.0,17500.0,Tue Jan 20 2015 04:00:00 GMT-0800 (PST)
4,2015,Ford,Fusion,SE,Sedan,Automatic,3fa6p0hdxfr145753,ca,2.0,5559.0,White,Beige,enterprise vehicle exchange / tra / rental / t...,15350.0,12000.0,Tue Jan 13 2015 12:00:00 GMT-0800 (PST)

# Create Unique Make Lookup Sheet for PBI

In [4]:
# Create a new DataFrame with unique Make Names
unique_make_df = pd.DataFrame(df["Make"].unique(), columns=["Make"])

# Preview the result
unique_make_df

            Make
0            Kia
1          Volvo
2            Bmw
3      Chevrolet
4           Ford
5         Nissan
6           Audi
7          Acura
8          Lexus
9        Hyundai
10      Infiniti
11          Jeep
12      Mercedes
13    Mitsubishi
14         Mazda
15          Mini
16       Lincoln
17        Jaguar
18        Toyota
19        Subaru
20    Volkswagen
21         Scion
22       Porsche
23           Geo
24         Buick
25      Chrysler
26         Dodge
27          Fiat
28      Cadillac
29         Honda
30    Land Rover
31           Ram
32         Smart
33           Gmc
34        Saturn
35       Pontiac
36        Hummer
37       Mercury
38          Saab
39       Bentley
40        Suzuki
41    Oldsmobile
42         Isuzu
43   Rolls Royce
44        Daewoo
45      Maserati
46           Dot
47      Plymouth
48  Aston Martin
49        Fisker
50       Ferrari
51   Lamborghini
52         Tesla

In [5]:
# 📁 Define your target directory and filename
target_dir = r"C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files"  # 🔧 Change this to your desired path
file_name_1 = "unique_make sheet.csv"
full_path_1 = os.path.join(target_dir, file_name_1)


# 📝 Step 3: Save the DataFrame as a CSV
unique_make_df.to_csv(full_path_1, index=True)

print(f"✅ File saved successfully at: {full_path_1}")

✅ File saved successfully at: C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files\unique_make sheet.csv

# Create Unique year Lookup Sheet for PBI

In [6]:
# Create a new DataFrame with unique body Names
unique_year_df = pd.DataFrame(df["Year"].unique(), columns=["Year"])

# Preview the result
unique_year_df

    Year
0   2015
1   2014
2   2013
3   2012
4   2011
5   2010
6   2009
7   2008
8   2007
9   2006
10  2005
11  2004
12  2003
13  2002
14  2001
15  2000
16  1999
17  1996
18  1997
19  1998
20  1995
21  1994
22  1989
23  1993
24  1992
25  1991
26  1986
27  1990
28  1987
29  1988
30  1984
31  1985
32  1983

In [7]:
# 📁 Define your target directory and filename
target_dir = r"C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files"  # 🔧 Change this to your desired path
file_name_2 = "unique_year sheet.csv"
full_path_2 = os.path.join(target_dir, file_name_2)


# 📝 Step 3: Save the DataFrame as a CSV
unique_year_df.to_csv(full_path_2, index=True)

print(f"✅ File saved successfully at: {full_path_2}")

✅ File saved successfully at: C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files\unique_year sheet.csv

# Create Unique transmission Lookup Sheet for PBI

In [8]:
# Create a new DataFrame with unique transmission Names
unique_transmission_df = pd.DataFrame(df["Transmission"].unique(), columns=["Transmission"])

# Preview the result
unique_transmission_df

  Transmission
0    Automatic
1       Manual
2        Sedan

In [9]:
# 📁 Define your target directory and filename
target_dir = r"C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files"  # 🔧 Change this to your desired path
file_name_3 = "unique_transmission sheet.csv"
full_path_3 = os.path.join(target_dir, file_name_3)


# 📝 Step 3: Save the DataFrame as a CSV
unique_transmission_df.to_csv(full_path_3, index=True)

print(f"✅ File saved successfully at: {full_path_3}")

✅ File saved successfully at: C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files\unique_transmission sheet.csv

# Create Unique color Lookup Sheet for PBI

In [10]:
# Create a new DataFrame with unique color Names
unique_color_df = pd.DataFrame(df["Color"].unique(), columns=["Color"])

# Preview the result
unique_color_df

         Color
0        White
1        Black
2          Red
3        Beige
4         Gray
5         Blue
6       Silver
7     Burgundy
8         Gold
9    Off-Black
10      Yellow
11    Charcoal
12       Green
13       Brown
14      Orange
15      Purple
16   Off-White
17        Pink
18        Lime
19   Turquoise
20     Magenta
21        Cyan
22   Deep Blue
23       Creme
24     Pantone
25  Vanderberg
26     Sawdust
27      Bronze

In [11]:
# 📁 Define your target directory and filename
target_dir = r"C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files"  # 🔧 Change this to your desired path
file_name_4 = "unique_color sheet.csv"
full_path_4 = os.path.join(target_dir, file_name_4)


# 📝 Step 3: Save the DataFrame as a CSV
unique_color_df.to_csv(full_path_4, index=True)

print(f"✅ File saved successfully at: {full_path_4}")

✅ File saved successfully at: C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files\unique_color sheet.csv

# Create Unique interior Lookup Sheet for PBI

In [12]:
# Create a new DataFrame with unique interior Names
unique_interior_df = pd.DataFrame(df["Interior"].unique(), columns=["Interior"])

# Preview the result
unique_interior_df

     Interior
0       Black
1       Beige
2        Gray
3   Off-Black
4       Brown
5         Tan
6   Off-White
7        Blue
8         Red
9      Silver
10      Green
11     Purple
12     Orange
13   Burgundy
14      white
15       Gold
16     Yellow

In [13]:
# 📁 Define your target directory and filename
target_dir = r"C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files"  # 🔧 Change this to your desired path
file_name_5 = "unique_interior sheet.csv"
full_path_5 = os.path.join(target_dir, file_name_5)


# 📝 Step 3: Save the DataFrame as a CSV
unique_interior_df.to_csv(full_path_5, index=True)

print(f"✅ File saved successfully at: {full_path_5}")

✅ File saved successfully at: C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files\unique_interior sheet.csv

# Create Unique state Lookup Sheet for PBI

In [14]:
# Create a new DataFrame with unique state Names
unique_state_df = pd.DataFrame(df["State"].unique(), columns=["State"])

# Preview the result
unique_state_df

   State
0     ca
1     pa
2     wi
3     md
4     nj
5     fl
6     mn
7     az
8     sc
9     in
10    va
11    il
12    mi
13    co
14    oh
15    ga
16    tx
17    ma
18    mo
19    pr
20    nc
21    tn
22    or
23    ut
24    ne
25    nv
26    la
27    wa
28    ny
29    ab
30    hi
31    qc
32    on
33    ok
34    ms
35    nm
36    al
37    ns

In [15]:
# 📁 Define your target directory and filename
target_dir = r"C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files"  # 🔧 Change this to your desired path
file_name_6 = "unique_state sheet.csv"
full_path_6 = os.path.join(target_dir, file_name_6)


# 📝 Step 3: Save the DataFrame as a CSV
unique_state_df.to_csv(full_path_6, index=True)

print(f"✅ File saved successfully at: {full_path_6}")

✅ File saved successfully at: C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files\unique_state sheet.csv

# Create Unique model Lookup Sheet for PBI

In [16]:
# Create a new DataFrame with unique interior Names
unique_model_df = pd.DataFrame(df["Model"].unique(), columns=["Model"])

# Preview the result
unique_model_df

                   Model
0                Sorento
1                    S60
2                     M5
3                 Camaro
4                 Fusion
..                   ...
873            GLA-Class
874  4 Series Gran Coupe
875                TT RS
876           458 Italia
877                   i8

[878 rows x 1 columns]

In [17]:
# 📁 Define your target directory and filename
target_dir = r"C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files"  # 🔧 Change this to your desired path
file_name_7 = "unique_model sheet.csv"
full_path_7 = os.path.join(target_dir, file_name_7)


# 📝 Step 3: Save the DataFrame as a CSV
unique_model_df.to_csv(full_path_7, index=True)

print(f"✅ File saved successfully at: {full_path_7}")

✅ File saved successfully at: C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files\unique_model sheet.csv

# Create Unique body Lookup Sheet for PBI

In [18]:
# Create a new DataFrame with unique interior Names
unique_body_df = pd.DataFrame(df["Body"].unique(), columns=["Body"])

# Preview the result
unique_body_df

                   Body
0                   SUV
1                 Sedan
2           Convertible
3                 Coupe
4                 Wagon
..                  ...
77            q60 coupe
78   beetle convertible
79      g37 convertible
80  promaster cargo van
81      q60 convertible

[82 rows x 1 columns]

In [19]:
# 📁 Define your target directory and filename
target_dir = r"C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files"  # 🔧 Change this to your desired path
file_name_8 = "unique_body sheet.csv"
full_path_8 = os.path.join(target_dir, file_name_8)


# 📝 Step 3: Save the DataFrame as a CSV
unique_body_df.to_csv(full_path_8, index=True)

print(f"✅ File saved successfully at: {full_path_8}")

✅ File saved successfully at: C:\Users\emman\OneDrive\Desktop\PowerBi Practice Folders\CarSalesPBI\0.2 CSV Files\unique_body sheet.csv